<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>People :: OFA Tech Alum</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/ofa-bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/static/css/token-input.css" />
     <link rel="stylesheet" type="text/css" href="/static/css/token-input-facebook.css" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
  </head>

  <body>



    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand pull" href="#">OFA Tech Alum</a>

          <div class="nav-collapse">

            <ul class="nav">
              <li ><a href="/">Home</a></li>

              <li ><a href="/people">People</a></li>
              <li ><a href="/people/me">You</a></li>
              <li ><a href="/people/invite">Invite</a></li>

              <li class="divider"></li>
              <li><a href="{{ url }}">{{ url_linktext }}</a></li>


            </ul>

          </div><!--/.nav-collapse -->

        </div>
      </div>
</div>
    <style>
      body {
        padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>


  <div class="container">

  <h1>People</h1>
  <hr>
  {% for person in people %}
  <div class="span5 well vcard">
    {% if person.gravatar %}<img src="{{ person.gravatar }}" class="photo img-rounded pull-right"/>{% endif %}
    <h2 class="fn">{{ person.first_name }} {{ person.last_name }}</h2>

    <dl class="dl-horizontal">
{% if person.address %}
      <dt><i class="icon-home"></i></dt>
      <dd>{{ person.address }}</dd>
      {% endif %}
  {% if person.phone_number %}

      <dt><i class="icon-phone "></i></dt>
      <dd><a href="tel:{{ person.phone_number }}" class="tel">{{ person.phone_number }}</a></dd>

    {% endif %}
    {% if person.email %}
      <dt><i class="icon-envelope"></i></dt>
      <dd><a href="mailto:{{ person.email }}" class="email">{{ person.email }}</a></dd>

    {% endif %}
    {% if person.twitter %}

      <dt><i class="icon-twitter "></i></dt>
      <dd><a href="http://twitter.com/{{ person.twitter }}" class="url">http://twitter.com/{{ person.twitter }}</a></dd>

    {% endif %}
    {% if person.github %}

      <dt><i class="icon-github "></i></dt>
      <dd><a href="https://github.com/{{ person.github }}" class="url">https://github.com/{{ person.github }}</a></dd>

    {% endif %}
    {% if person.facebook %}

      <dt><i class="icon-facebook "></i></dt>
      <dd><a href="https://facebook.com/{{ person.facebook }}" class="url">https://facebook.com/{{ person.facebook }}</a></dd>

    {% endif %}
    {% if person.linkedin %}

      <dt><i class="icon-linkedin "></i></dt>
      <dd><a href="https://linkedin.com/in/{{ person.linkedin }}" class="url">https://linkedin.com/in/{{ person.linkedin }}</a></dd>

    {% endif %}


      <dt><i class="icon-download "></i></dt>
      <dd><a href="/person/{{person.key()}}/vcard">Download vCard</a></dd>
    </dl>

  </div>

  {% endfor %}

  </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>



    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

  </body>
</html>
